body {
    background-color: rgb(231, 228, 212);
}

button {
  color: white;
  background-color: #008cba;
  border-top-color: #08556e;
}

button:hover {
  background-color: rgb(46, 99, 134);
}

.side-panel {
    background-color: #09f;
    color: white;
}