.main-layout {
    display: flex;
    height: 100vh;
}

.side-panel {
    /*border-style: solid;*/
    margin: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-panel header {
  width: 100%;
  display:block;
  text-align: center;
  padding-top:1em;
  padding-bottom: 1em;
  font-size: large;
}

.main-panel {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  cursor: pointer;
  border-bottom: 0;
  border-left: none;
  border-right: none;
  transition: 0.3s;
  width: 100%;
}

a {
  font-size: medium;
}

.query-param {
  text-decoration: none;
  color: white;
}

.menu-list {
  /*border-style: solid;*/
  height:2em;
  margin:0em;
  padding:0em;
}

.outer-li {
  list-style: none;
  margin:0em;
  padding:0em;
  height: 150%;
}

.top-button {
  width: 100%;
  height: 100%;
  font-size: medium;
}

.top-button:hover + .inner-ul{
  display: block;
}

.inner-ul {
  display: none;
  position: relative;
  bottom:80%;
  z-index: 9999;
  left:90%;
  padding: 0em;
  transition: 1.5s;
  /*border-style: solid;*/
}

.inner-ul:hover {
  display: block;
}

.inner-li {
  list-style: none;
  margin:0em;
  padding:0em;
}

.audiofile-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /*border-style: solid;*/
}

.audiofile-container {
  /*padding-left: 1em;
  padding-right: 1em;*/
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100%;
  border-style: solid;
  border-radius: 3%;
  border-color: blueviolet;
  margin: 10px;
  height: 15em;
  width: 20em;
}

.audiofile-container p {
  font-size: 0.8em;
  text-align: center;
}

.logout {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
}

.logout img {
  height: 50px;
  width: 50px;
}

.submit-button {
  margin-top: 1em;
  width:min-content;
  text-align:center;
}

.form-group {
  margin-top:2em;
  border-style: solid;
  padding:1em;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 3em;
  font-weight: bold;
  margin: auto;
}

h1 a {
  all: unset;
  cursor: pointer;
}

#description {
  margin-top: 2em;
  width: 100%;
}

h2 {
  text-align: center;
}

a.button3{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#77761f;
  text-align:center;
  transition: all 0.2s;
}
a.button3:hover{
  background-color:#4095c6;
}
@media all and (max-width:30em){
  a.button3{
    display:block;
    margin:0.2em auto;
  }
}

.update-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;

}

.input-box-complex {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
}

.add-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.add-new-fields {
  display: flex;
  flex-direction: column;
}

#currentNames, #currentTags {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.unique-box {
  position:relative;
  background-color: deepskyblue;
  margin-bottom: 3px;
  margin-right: 10px;
  padding-right: 15px;
  padding-left: 3px;
}

.closeSpan {
  position: absolute;
  right: 0px;
  top: -5px;
  cursor: pointer;
  font-weight: bold;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#names-list {
  margin-left: 10px;
}

#connected-users {
  display: flex;
  bottom: 0px;
  margin-left: 5px;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: flex-end;
}

#connected-users * {
  margin-bottom: 0;
}