<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/color-styles.css" />
</head>
<body>
    <div class="main-layout">
        <section class="side-panel">
            <header>
                Menu
            </header>
            <nav class="sidebar-nav">
                <ul class="menu-list">
                    <li class="outer-li">
                        <button type="button" class="top-button"> Catégories </button>
                        <ul class="inner-ul">
                            <li class="inner-li">
                                <button type="button"> Catégorie 1 </button>
                            </li>
                            <li class="inner-li">
                                <button type="button"> Catégorie 2 </button>
                            </li>
                        </ul>
                    </li>
                    <li class="outer-li">
                        <button type="button" class="top-button">Membres</button>
                        <ul class="inner-ul">
                            <li class="inner-li">
                                <button type="button"> Membre 1 </button>
                            </li>
                            <li class="inner-li">
                                <button type="button"> Membre 2 </button>
                            </li>
                        </ul>
                    </li>
                    <li class="outer-li">
                        <button type="button" class="top-button">Gérer mes fichiers</button>
                    </li>
                </ul>
            </nav>
        </section>
        <div class="main-panel">
            <div class="header">
                <h1>Audiobank</h1>
            </div>
            <p>This is my main div</p>
        </div>
    </div>

</body>