<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/color-styles.css" />
</head>
<body>
    <div class="main-layout">
        <div class="side-panel">
            <p>This is my side panel</p>
        </div>
        <div class="main-panel">
            <div class="header">
                <h1>Audiobank</h1>
            </div>
            <p>This is my main div</p>
        </div>
    </div>

</body>