<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles-login.css" />
    <link rel="stylesheet" href="/styles-navbar.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>

<div id="sign-up-window">
    <div id="sign-up-form">
        <form action='/reset-password' method="post">

            <p id="form-title">Log in</p>

            <input type="old_password" id="name" name="login" placeholder="Ancien mot de passe" required>
            <input type="new_password" id="new_password" name="new_password" placeholder="Nouveau mot de passe" onkeyup='check()' required>
            <input type="new_password_again" id="new_password_again" name="new_password_again" placeholder="Confirmez le mot de passe" onkeyup='check()' required>
            <span id='message'></span>

            <button id="form-button">GO!</button>
            
        </form>
    </div>
</div>

<script>
    function check() {
        if (document.getElementById('new_password').value ==
            document.getElementById('new_password_again').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
            document.getElementById("form-button").disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
            document.getElementById("form-button").disabled = true;
        }
    }
</script>>

</body>
</html>